.ModalButton-block{
    width: 65%;
    text-align: center;
    margin: auto;
    padding-bottom: 16px !important;
}

.ModalButton-block h2{
    letter-spacing: 6px;
    margin: 10px 0;
    padding-top: 20px !important;
}

.ModalButton-block p{
    width: 90%;
    text-align: center;
    margin: auto;
}