@import '../../components/NavBar/NavBar.css';

:root{
    --primaryColor: #0BB5FF;
    --backgroundColor: #ccc;
    --accentColor: #333;
}

.Country-block__elem--countryContainer{
    text-align: left;
    margin: 20px auto;
    width: 90%;
}

.Country-block__elem--countryName{
    font-size: 5vw;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 100px;
}

.Country-block__elem--countryCapital{
    font-size: 1.5vw;
    margin: 5px 0 5px 8px;
}

.Country-block__elem--countryPopulation{
    font-size: 8vw;
    margin: 20px 0;
    color: #72706E;
}

.CountryDoughnut-block{
    width: 90%;
    text-align: center;
    margin: auto;
}

.CountryDoughnut-block p{
    font-size: 2.8vw;
    letter-spacing: 0.4vw;
    text-transform: uppercase;
}

.CountryDoughnut-block div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap !important;
    margin-bottom: 28px;
}

.CountryDoughnut-block div div{
    width: 50%;
}

.CountryDoughnut-block div div{
    min-width: 300px;
    min-height: 300px;
}

.CountryDoughnut-block p div p{
    font-size: 28px !important;
    letter-spacing: 0.1vw !important;
    text-transform: uppercase;
}

@media(max-width: 900px){
    .Country-block__elem--countryPopulation{
        font-size: 15vw;
    }
    .Country-block__elem--countryCapital{
        font-size: 5vw;
    }
}

@media(max-width: 600px){
    .Country-block__elem--countryName{
        margin-top: 150px;
        font-size: 10vw;
    }
    .Country-block__elem--countryPopulation{
        font-size: 15vw;
    }
    .CountryDoughnut-block div div{
        width: 90% !important;
        overflow: hidden !important;
    }
    .CountryDoughnut-block p{
        font-size: 8vw;
    }
}